<section id="contentWrapper">
<div>
  <h1 class="pageHeader">Thank you for your payment</h1>
  <!--<div id="dynamicContent">oam_selectAccount_top.xml</div> -->
  <div class="infoHolder mT3P">
        <div>
          <div class="label">Property:</div>
          <div class="data">property name</div>
        </div>
        <div>
          <div class="label">Account:</div>
          <div class="data">#XXXXXXX-X</div>
        </div>
        <div>
          <div class="label">Date and Time:</div>
          <div class="data">December 26, 2012  09:12 AM CDT</div>
        </div>
        <div>
          <div class="label">Confirmation Number:</div>
          <div class="data">000011112222</div>
        </div>
        <div>
          <div class="label">Confirmation Email Sent To:</div>
          <div class="data">address@domain.com</div>
        </div>
  </div>
  <div class="infoHolder">
    <div class="subheader mT3P">Payment Information</div>
    <div class="greyLineSeperator">&nbsp;</div>
    <div>
      <div class="label">Payment Amount:</div>
      <div class="data b">$1,000.00</div>
    </div>
    <div>
      <div class="label">Payment Date:</div>
      <div class="data">02/02/2014</div>
    </div>
  </div>
  <div class="infoHolder">
    <div class="subheader mT3P">Bank Account Information</div>
    <div class="greyLineSeperator">&nbsp;</div>

      <div>
        <div class="label">Payment Method:</div>
        <div class="data">Nickname, ********8758</div>
      </div>

  </div>

  <div class="text-right">
      <a href="#"><span class="printerIcon"></span>Print</a>
  </div>
</div>
</section>
